.popular {
    padding: 3rem 0;
}

.popular__header {
    display: flex;
    border-bottom: 1px solid #dcdcdc;
    justify-content: space-between;
}

.popular__title {
    font-weight: 500;
}

.popular__icon {
    margin-right: .25rem;
}

.popular__button {
    background: transparent;
    border: none;
    color: #333333;
}

.popular__content {
    display: flex;
    flex-wrap: wrap;
    grid-area: content;
    padding: 1rem 0;
}

.popular__card {
    background: #fefefe;
    display: grid;
    grid-template-areas:
        "card-image"
        "card-body";
    grid-template-columns: 100%;
}

.popular__card__image {
    grid-area: card-image;
    height: 100%;
    width: 100%;
}

.popular__card__body {
    display: grid;
    grid-area: card-body;
    grid-row-gap: .5rem;
    grid-template-areas:
        "card-header"
        "card-content";
    grid-template-rows: 50px auto;
    padding: .75rem;
}

.popular__card__title {
    font-size: 1.5rem;
    color: #333333;
}

.popular__card__date {
    font-size: .9rem;
    color: #808080;
}

.popular__card__description {
    color: #333333;
    line-height: 1.5rem;
    margin: 1rem 0;
    text-align: justify;
}